$bgColorContentAreas: #fff;
$colorBody: #F5F6F8;
$colorBorders: #d1d6de;
$colorLinks: #1F2445;
$colorChevrons: #a4acc0;
$colorAccent: #5b43c0;
$widthBorder: 1px;
$borderRadius: 7px;
$maxWidth: 1200px;
$medWidth: 800px;
$smWidth: 600px;